[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
vulnerability = "deny"
unmaintained = "warn"
yanked = "warn"
notice = "warn"
ignore = []

[licenses]
unlicensed = "deny"
allow-osi-fsf-free = "both"
copyleft = "deny"
default = "deny"
confidence-threshold = 0.8
allow = []

[[licenses.exceptions]]
name = "ring"
version = "*"
allow = ["OpenSSL"]

[[licenses.clarify]]
name = "ring"
expression = "ISC AND MIT AND OpenSSL"
license-files = []

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-defaults = "allow"
allow = []
deny = []
skip = []
skip-tree = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
